/* CSS Document */

* { 
	margin:0; padding:0;
	border:0;
}

body{ background:#ffe596;
	 border:0;
	 font:14px Arial, Helvetica, sans-serif; color:#939393;
	 line-height:20px;
}


/* ============================= main layout ====================== */

a{ color:#6b6c5f; text-decoration: underline; outline:none}
a:hover{ text-decoration: none}
li{ list-style:none}
h1{ float:left; font:100px "Trebuchet MS", Arial, Helvetica, sans-serif; line-height:104px; text-transform:uppercase; font-weight:bold; letter-spacing:-18px}
h2{ font:32px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#6b6c5f; line-height:36px; padding:0 0 8px 0; letter-spacing:-1px;}
p{ padding-bottom:20px;}
img{ vertical-align:top}

/* ============================= header ====================== */

#logo{ display:block; width:181px; height:186px; background:#ff8800; color:#fff; text-decoration:none; padding:63px 0 0 24px}
#logo span{ letter-spacing:0; font-size:16px; line-height:18px; display:block; font-weight:normal; margin-top:-14px; padding-left:5px}

#menu { float:left; height:249px; width:820px; overflow:hidden}
#menu li{ float:left; width:205px; }
#menu span{ display:block; padding-left:12px; }
#menu a{ display:block; padding-top:203px; font:24px "Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:bold; color:#fff; text-transform:uppercase; text-decoration:none; line-height:46px;}
#menu a:hover span, #menu #menu_active a span{ padding-top:46px;}
#menu a:hover, #menu #menu_active a{padding-top:157px;}

#menu .nav1 a{ background:url(images/menu1.jpg) top no-repeat}
#menu .nav2 a{ background:url(images/menu2.jpg) top no-repeat}
#menu .nav3 a{ background:url(images/menu3.jpg) top no-repeat}
#menu .nav4 a{ background:url(images/menu4.jpg) top no-repeat}

#menu .nav1 a span{ background:#ffc000}
#menu .nav2 a span{ background:#d3b04f}
#menu .nav3 a span{ background:#a3a865}
#menu .nav4 a span{ background:#81835f}

* html #menu li a{ float:left; width:100%;}
* html #menu li a span{ float:left; width:193px;}

/* ============================= content ====================== */
.pad{ padding:53px 60px 60px;}
.pad_bot1{ padding-bottom:15px;}
.pad_left1{ padding-left:34px}
.pad_left2{ padding-left:18px;}
.marg_right1{ margin-right:16px;}

.button{ color:#f0f0f0; text-decoration:none; line-height:33px; display:inline-block; padding:0 10px; background:#6b6c5f}
.button:hover{ background:#ff8800}

.under{ padding-bottom:29px; margin-bottom:23px; border-bottom:1px solid #d8d8d8}

#content img{ margin-top:5px}

.color1{ color:#6b6c5f}

.checklist li { 
    list-style-type:disc;
    margin: 1px;
    padding: 1px;
}

.list1 a{ padding-left:6px; background:url(images/marker_1.gif)  0 5px no-repeat}

.font1{ font-size:14px;}
/* ============================= footer ====================== */

#footer { font-size:12px; color:#c9c8c8; padding-top:11px}
#footer a{ color:#c9c8c8; text-decoration:none}
#footer a:hover{ color:#fff;}

#footer_menu{ float:right}
#footer_menu li{ float:left; padding-left:12px;}
#footer_menu .active{ color:#fff;}

/* ============================= forms ============================= */

#ContactForm {padding:9px 0 0 0; line-height:18px;}
#ContactForm a{ margin-left:15px; float:right; margin-top:13px; padding:0 13px;}
#ContactForm .input {width:313px; height:14px;  background:#d8d8d8; padding:14px 10px; margin-bottom:8px;color:#6b6c5f; font:12px Arial, Helvetica, sans-serif}
#ContactForm textarea {width:330px; height:149px;  background:#d8d8d8; padding:16px 10px; margin-bottom:8px;color:#6b6c5f; font:12px Arial, Helvetica, sans-serif; overflow:auto}

.col_2{ width:350px; float:left; padding-left:17px;}

/*==========================================*/

.bgstretcher {
	background: black;
	overflow: hidden;
	width: 100%;
	position: fixed !important;
	z-index: 1;
}
.bgstretcher, .bgstretcher UL, .bgstretcher UL LI {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}
.bgstretcher UL, .bgstretcher UL LI {
	margin: 0;
	padding: 0;
	list-style: none;
}
